@media screen and (max-width:768px) {
    .nav-header ul{
        display: none;
    }
    
    .btn-burg{
        display: block;
        margin-left: auto;
        margin-right: 0;
    }
    .nav-header li{
        display: block;
        text-align: right;
    }
    .padding_site {
        
    }
    header{
        height: auto;
    }
}