@media screen and (max-width: 1024px) {
     .emblem{
        left: 40.5%;
    }
    
    
}

@media screen and (max-width:768px) {
    
    .emblem{
        left: 36.5%;
    }
    .what_txt {
        
        height: 330px;
    }
    
    header{
        height: auto;
    }
    
    .btn-head-all:after{
        content: '';
    }
    .btn-head-all {
        width: 215px;
        height: 200px;
    }
    .block-head-title {
        height: auto;
    }
    
    .title-offer{
            width: 100%;
        }
    .what-do {
        margin-top: 60px;
    }
    
    .large-img{
        width: 100%;
    }
    .small-img{
        width: 49%;
    }
    .portfolio-theme a{
        padding: 5px 15px 5px 0px;
    }
    
}

@media screen and (max-width: 767px) {
    
    .nav-header ul{
        display: none;
    }
    
    .btn-burg{
        display: block;
        margin-left: auto;
        margin-right: 0;
    }
    .nav-header li{
        display: block;
        text-align: right;
    }
    
     
}

@media screen and (max-width: 414px) {
    
   .emblem{
        left: 24.5%;
    }
    
}