*{
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    width: 100%;
}

h1, h2, h3, h4, h5{
    font-family: "GothamProBold";
}

p{
    font-family: "PfennigMedium";
}
.row {
    
    margin-left: 0px;
    margin-right: 0px;
}
.arrow{
    text-align: center;
    margin-bottom: 15px;
}

.container{
    width: 100%;
    margin: 0 auto; 
}
.padding_site{
    padding: 0 11.5%;
}

header{
    background-image: url(img/bg_header.jpg);
    background-size: cover;
    height: 765px;
}


 a:focus {
    
}


a:hover, a:focus {
    text-decoration: none;
    color: #fc635e;
}

.header-logo-nav{
    padding: 22px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.log{
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
    .log img{
        margin-right: 5px;
    }
    .log span{
        font-family: "GothamProBold";
        color: white;
        font-size: 1.714em
    }

.nav-header{
    float: right;
}
/*.nav-header ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 425px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}*/
    .nav-header li{
        display: inline-block;
        list-style-type: none;
        
    }
    .nav-header a{
        display: block;
        padding: 22px 10px 0px;
        font-size: 1.143em;
        margin-left: 10px;
    }
        .nav-header a:hover{
            color: #fc635e;
            border-bottom: 2px solid #fc635e;
        }
    .nav-no-active{
        color: white;
        font-family: "PfennigMedium";
        text-transform: uppercase;
    }


.active{
        color: #fc635e;
        border-bottom: 2px solid #fc635e;
    }


.btn-burg{
    background: none;
    display: none;
}

/*------  block-head-title  ------*/

.block-head-title{
    width: 100%;
    text-align: center;
    height: 650px;
    padding-top: 170px;
    
}
    .block-head-title h1{
        text-transform: uppercase;
        color: white;
        font-size: 3.18em;
        margin-bottom: 0px;
        margin-top: 0px;
        letter-spacing: 1.5px;
    }
    .block-head-title p{
        color: white;
        letter-spacing: 1.5px;
        font-size: 1.5em;
}
.btn-head-title{
    margin-top: 7px;
    padding: 10px 45px;
    display: inline-block;
    border: 2px solid #fc635e;
    color: #fc635e;
    border-radius: 5px;
    font-size: 1.5em;
    letter-spacing: 1px;
}
.btn-head-title:hover{
    background: rgba(255,255,255,.2);
    color: #fc635e;
}

.btn-head-all{
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    height: 75%;
}
.btn-head-all:before{
     content: '';
}
.btn-head-all:after{
    content: url(img/bg-mouse.png);
    display: inline-block;
    margin-left: 0px;
    float: right;
    width: 0;
}

.line-goriz{
    overflow: hidden;
}
.line-goriz:before, .line-goriz:after {
    content: '';
    display: inline-block;
    vertical-align: super;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 7px;
    background-color: rgba(215, 215, 215, 0.37);
    margin: 0px 10px;
}
.line-goriz:before{
    margin-left: -100%;
}
.line-goriz:after{
    margin-right: -100%;
}
.arrow_buttom{
    position: absolute;
    bottom: 5px;
    left: 42%;
}
.arrow_buttom:hover{
    bottom: none;   
}


/*---------------*/
/*---------------*/
/*---------------*/
/*------  block-offer  ------*/


.block-offer{
    margin-top: 65px;
}
        .title-offer{
            text-align: center;
            width: 60.72%;
            margin: 0 auto;
            margin-bottom: 75px;
        }
        .title-offer h3{
            text-transform: uppercase;
            font-size: 2em;
        }
        .title-offer p{
            font-size: 1.429em;
        }
.prev-offter{
    height: 270px;
    text-align: center;
    margin-bottom: 30px;
    
}

.prev-offter h3{
    font-size: 1.429em;
    text-transform: uppercase;
    padding-top: 20px;
}
.prev-offter p{
    font-size: 1.071em;
    padding-top: 20px;
}