*{
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

h1, h2, h3, h4, h5{
    font-family: "GothamProBold";
}

p{
    font-family: "PfennigMedium";
}
.right {
    float: right;
}
.left {
    float: left;
}

.txt-right{
    text-align: right;
}
.hr_h1{
    border: 0;
    border-top: none;
    background-color: black;
    height: 1px;
    width: 65%;
    margin: 5px auto;
}
.hr_h3{
    border: 0;
    border-top: none;
    background-color: black;
    height: 1px;
    width: 60px;
    margin: 10px auto 0;
}


.arrow{
    text-align: center;
    padding-bottom: 15px;
}

.container{
    width: 100%;
    margin: 0 auto; 
}
.padding_site{
    padding: 0 11.5%;
}

header{
    background-image: url(img/bg_header.jpg);
    background-size: cover;
    height: 765px;
}


 a:focus {
    
}


a:hover, a:focus {
    text-decoration: none;
    color: #fc635e;
}

.header-logo-nav{
    padding: 22px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.log{
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
    .log img{
        margin-right: 5px;
    }
    .log span{
        font-family: "GothamProBold";
        color: white;
        font-size: 1.714em
    }

.nav-header{
    float: right;
}
/*.nav-header ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 425px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}*/
    .nav-header li{
        display: inline-block;
        list-style-type: none;
        
    }
    .nav-header a{
        display: block;
        padding: 22px 10px 0px;
        font-size: 1.143em;
        margin-left: 10px;
    }
        .nav-header a:hover{
            color: #fc635e;
            border-bottom: 2px solid #fc635e;
        }
    .nav-no-active{
        color: white;
        font-family: "PfennigMedium";
        text-transform: uppercase;
    }


.active{
        color: #fc635e;
        border-bottom: 2px solid #fc635e;
    }


.btn-burg{
    background: none;
    display: none;
}

/*------  block-head-title  ------*/

.block-head-title{
    width: 100%;
    text-align: center;
    height: 650px;
    padding-top: 170px;
    
}
    .block-head-title h1{
        text-transform: uppercase;
        color: white;
        font-size: 3.18em;
        margin-bottom: 0px;
        margin-top: 0px;
        letter-spacing: 1.5px;
    }
    .block-head-title p{
        color: white;
        letter-spacing: 1.5px;
        font-size: 1.5em;
}
.btn-head-title{
    margin-top: 7px;
    padding: 10px 45px;
    display: inline-block;
    border: 2px solid #fc635e;
    color: #fc635e;
    border-radius: 5px;
    font-size: 1.5em;
    letter-spacing: 1px;
}
.btn-head-title:hover{
    background: rgba(255,255,255,.2);
    color: #fc635e;
}

.btn-head-all{
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    height: 75%;
}
.btn-head-all:before{
     content: '';
}
.btn-head-all:after{
    content: url(img/bg-mouse.png);
    display: inline-block;
    margin-left: 0px;
    float: right;
    width: 0;
}

.line-goriz{
    overflow: hidden;
}
.line-goriz:before, .line-goriz:after {
    content: '';
    display: inline-block;
    vertical-align: super;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 7px;
    background-color: rgba(215, 215, 215, 0.37);
    margin: 0px 10px;
}
.line-goriz:before{
    margin-left: -100%;
}
.line-goriz:after{
    margin-right: -100%;
}
.arrow_buttom{
    position: absolute;
    bottom: 5px;
    left: 42%;
}
.arrow_buttom:hover{
    bottom: none;   
}


/*---------------*/
/*---------------*/
/*---------------*/
/*------  block-offer  ------*/


.block-offer{
    margin-top: 65px;
}
        .title-offer{
            text-align: center;
            width: 60.72%;
            margin: 0 auto;
            margin-bottom: 75px;
        }
        .title-offer h3{
            text-transform: uppercase;
            font-size: 2em;
        }
        .title-offer p{
            font-size: 1.429em;
        }
.prev-offter{
    height: 270px;
    text-align: center;
    margin-bottom: 30px;
    
}

.prev-offter h3{
    font-size: 1.429em;
    text-transform: uppercase;
    padding-top: 20px;
}
.prev-offter p{
    font-size: 1.071em;
    padding-top: 20px;
}

.active-offter{
    
}

/*---------------*/
/*---------------*/
/*---------------*/
/*------  block-bussines and proces  ------*/

.bussines{
   
    background-image: url(img/bg_bussines.jpg);
    background-size: cover;
}

.block-title-business{
    height: 370px;
    border: 7px solid rgba(215, 215, 215, 0.37);
    margin: 10.62% 0 5.3%;
}
.block-business-title {
    width: 100%;
    text-align: center;
    padding: 12.1% 0; 
}

.block-business-title h1{
        text-transform: uppercase;
        color: white;
        font-size: 3.18em;
        margin-bottom: 0px;
        margin-top: 0px;
        letter-spacing: 1.5px;
    }
    .block-business-title p{
        color: white;
        letter-spacing: 1.5px;
        font-size: 1.5em;
    }


.process{
    height: 840px;
    margin-top: 60px;
}

    .title-process{
            text-align: center;
            width: 60.72%;
            margin: 0 auto;
            margin-bottom: 25px;
        }
        .title-process h3{
            text-transform: uppercase;
            font-size: 2em;
        }
        .title-process p{
            font-size: 1.429em;
        }
.prev-process{
    margin-bottom: 45px;
}
.prev-process img{
    width:100%;
    height:auto;
}

.step-rocess{
    width: 14%;
    height: 20%;
    text-align: center;
}

#step-1, #step-2, #step-3, #step-4{
    position: absolute;
}

            #step-1{
                top: 30%;
                left: 12%;
            }
            #step-2{
                top: 37%;
                left: 39.5%;
            }
            #step-3{
                top: 12%;
                left: 48%;
            }
            #step-4{
                top: 28%;
                left: 67.5%;
                width: 19%;
                height: 32%;
            }


/*---------------*/
/*---------------*/
/*---------------*/
/*------  block-what-do  ------*/

.what-do{
    margin-top: 60px;
}

.what_img img{
    width:100%;
    height:auto;
}

.what_txt{
    padding-top: 56px;
    height: 330px;
}
.what_title_left, .what_title_right{
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.what_title_right{
    border-right: 7px solid #fc635e;
    padding-right: 5px;
}
.what_title_left{
    border-left: 7px solid #fc635e;
    padding-left: 5px;
}

.what_txt p{
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.btn-what-do{
    background-color: #fc635e;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    letter-spacing: 0.5px;
}

/*---------------*/
/*---------------*/
/*---------------*/
/*------  block-portfolio  ------*/

.block-portfolio{
    margin-top: 60px;
}
.portfolio-theme{
        
    }

.portfolio-theme li{
        display: inline-block;
        list-style-type: none;
        text-transform: uppercase;
    }
    .portfolio-theme a{
        display: block;
        font-size: 1.143em;
        color: #fc635e;
        padding-right: 35px;
    }
        .portfolio-theme a:hover{
            text-shadow: #a6a2a2 1px 1px 5px, #a6a2a2 -1px -1px 5px, 
                         #a6a2a2 -1px 1px 5px, #a6a2a2 1px -1px 5px;
        }

.portfolio-theme a:before{
    content: '\002F';
    padding-right: 35px;
    color: black;
}
.portfolio-theme li:first-child a:before{
    content: '';
}



/*---------------*/
/*---------------*/
/*---------------*/
/*------  MAP  ------*/

.block-map{
    height: 460px;
    position: relative
}
.map-size{
    padding-top: 123px;
}
.emblem{
    width: 208px;
    height: 243px;
    background-image: url(img/emblem.png);
    background-size: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 41.5%;
    text-align: center;
}
.emblem h3{
    color: white;
    font-size: 2em;
    padding-top: 65px;
}

.emblem p{
    color: white;
    padding: 10px 15px;
    font-size: 1.1em;
}

/*---------------*/
/*---------------*/
/*---------------*/
/*------  FOOTER  ------*/


footer{
    background-image: url(img/bg_footer.jpg);
    background-size: cover;
    text-align: center;
}

.footer-log{
    display: block;
    margin: 0 auto;
    padding: 5.6% 0;
}